html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

img {
  max-width: 100%;
  display: block;
}

.isfp-bg {
    background: url(/images/bg_1.jpg);
}

.intp-bg {
    background: url(/images/bg_2.jpg);
}

.isfj-bg {
    background: url(/images/bg_1.jpg);
}

.estp-bg {
    background: url(/images/bg_2.jpg);
}

.isfp > img {
    bottom: 36px;
    left: 118px;
    width: auto;
    height: 475px;
}

.intp > img {
    bottom: 61px;
    left: 74px;
    width: auto;
    height: 500px;
}

.isfj > img {
    bottom: 44px;
    left: 144px;
    width: auto;
    height: 530px;
}

.estp > img {
    bottom: 37px;
    left: 29px;
    width: auto;
    height: 450px;
}


.isfp-text {
    color: #c869a1;
}

.intp-text {
    color: #1286ab;
}

.isfj-text {
    color: #dae86f;
}

.estp-text {
    color: #e65844;
}